h1 {
    vertical-align: middle;
    font-size: 32pt;
    color: azure;
}

h2 {
    font-size: 25pt;
    color: azure;
}

body {
    background-color: rgb(15, 19, 26);
}

header {
    height: 70px;
}

section {
    width: auto;
}
