body {
    background-color: bisque;
}

h1 {
    font-size: 60pt;
    font-family: 'Benton Sans', sans-serif;
    color: black;
    text-justify: distribute;
    padding-left: 20px;
}

h2, p, li, a {
    font-size: 32pt;
    font-family: 'Benton Sans', sans-serif;
    color: chocolate;
    text-decoration: none;
    padding-left: 20px;
}

a:hover {
    color: black;
}

ul, li {
    list-style: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 40vh;
    margin-top: 0;
    justify-content: space-between;
    padding-left: 40px;
}

#col {
    margin-left: auto;
}


#header_separator {
    width: 50%;
}


.content {
    padding: 10px;
}