body {
  font-family:Inter, Newsbt;
  src: url(assets/type/Inter_28pt_Bold.ttf) format("bold");
  src: url(assets/type/Inter_28pt_Regular.ttf) format("regular");
  src: url(assets/type/Inter_28pt_Thin.ttf) format("thin");
  src: url(assets/type/News701_BT_Bold.ttf) format("title");
  letter-spacing: 2px; 
  margin: 0;
}

div {
  background-color: black;
  margin: 0;
  width: 75%;
  height: 1000em;
}

#deco {
  background-image: url("Assets/deco/line1-01.svg");
  background-repeat: repeat;
  width: 40px;
  position: fixed;
  margin-left: 72%;
  transform: rotate(30deg);
}