#move {
    cursor: move;
  }
  
  .over img {
    width: 25%;
    height: auto;
    display: block;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(15deg);
  }
  
  .over img:nth-child(2n) {
    transform:rotate(-4deg);
    margin-top: -100px;
  }
  .over img:nth-child(3n) {
    transform:rotate(5deg);
    margin-top: -100px;
  }
  
img{
  width: 400px;
  height:max-content;
  width:fit-content;
}

:root {
  --gap: 1rem;
}

.list {
  columns: 300px;
  column-gap: var(--gap);
}

.item {
  margin-bottom: var(--gap);
}

.item img {
  width: 100%;
}

.slider {
  width: 400px;
  height:400px;
  background-image: url(/pagina_personal/assets/s_poster_3.jpg);
  background-size: cover;
  background-position: center;
  animation: animate 60s infinite;
}

@keyframes animate {
  20% {
    background-image: url(/pagina_personal/assets/s_poster_1.jpg);
    background-size: cover;
  }
  40% {
    background-image: url(/pagina_personal/assets/s_poster_2.jpg);
    background-size: cover;
  }
  60% {
    background-image: url(/pagina_personal/assets/s_poster_3.jpg);
    background-size: cover;
  }
  80% {
    background-image: url(/pagina_personal/assets/s_poster_4.jpg);
    background-size: cover;
  }
  100% {
    background-image: url(/pagina_personal/assets/s_poster_5.jpg);
    background-size: cover;
  }
}