#move {
    cursor: move;
  }
  
  .over img {
    width: 25%;
    height: auto;
    display: block;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(15deg);
  }
  
  .over img:nth-child(2n) {
    transform:rotate(-4deg);
    margin-top: -100px;
  }
  .over img:nth-child(3n) {
    transform:rotate(5deg);
    margin-top: -100px;
  }
  
img{
  width: 400px;
  height:max-content;
  width:fit-content;
}

:root {
  --gap: 1rem;
}

.list {
  columns: 300px;
  column-gap: var(--gap);
}

.item {
  margin-bottom: var(--gap);
}

.item img {
  width: 100%;
}