

div {
    margin: auto;
    max-width: 40rem;
    margin: 3.5rem auto 0;
    width: 1520px;
}

h1 {
    margin: 1.000rem auto 0.875rem auto;
    font-size: 4.354em;
    line-height: 110%;
    letter-spacing: -1px;
    color: black;
    text-align: center;
    font-family: 'Majerit', serif;
    width: 95%;
    max-width: 52.500rem;
}

h2 {
    font-size: 1.176em;
    line-height: 135%;
    color: #444;
    margin-bottom: 0.250rem;
    text-align: center;
    font-family: 'Benton Sans', sans-serif;
    font-weight: 100;
    margin: 1.800rem auto 1.600rem auto;
    max-width: 600px;
    width: 100%;
}

h3 {
    font-size: 1.376em;
    color: #444;
    font-weight: bold;
    font-family: 'Benton Sans', sans-serif;
}

p, li {
    font-size: 1.125rem;
    color: #444;
    margin-bottom: 2.188rem;
    font-family: 'Benton Sans', sans-serif;
    font-weight: lighter;
    line-height: 180%;
    list-style: none;
}

strong {
    font-size: 1.125rem;
    color: #444;
    margin-bottom: 2.188rem;
    font-family: 'Benton Sans', sans-serif;
    font-weight: bold;
    line-height: 180%; 
}

#dropcap:first-letter {
	font-size: 11.43rem;
    font-weight: 900;
    line-height: .800;
    color: #000;
    padding: 0.5rem .9rem 0 0;
    display: inline;
    float: left;
}

a {
    color: #000;
    font-weight: 700;
    text-decoration-style: dotted;
}

em {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

#center {
    width: 100vw;
    display: block;
}

.info_paragraph {
    width: 1040px;
    margin: auto;
}